<div class="container">
  <h3>Currently editing:</h3>
  <h5>{{item.task}}, Priority: {{item.priority}}, Status: {{item.status}}</h5>
  <form class="" action="/edit/{{query}}" method="post">
    <input type="text" name="task" value="{{item.task}}">
    <select name="priority">
      {{#select item.priority}}
        <option value="Low">Low</option>
        <option value="Medium">Medium</option>
        <option value="High">High</option>
      {{/select}}
    </select>
    <select name="status">
    {{#select item.status}}
        <option value="Done">Done</option>
        <option value="New">New</option>
    {{/select}}
    </select>
    <input type="submit" name="edit" value="Submit">
  </form>
  <p><a href='/'>Home</a></p>
</div>
